@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain",Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* navbar */
.navbar {
    background: #F6FBF4;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

.logo img {
    height: 50px;
    margin-right: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: baseline;
    text-align: center;
    gap: 30px;
}


.nav-links a {
    text-decoration: none;
    display: flex;
    font-size: clamp(16px, 1vw + .5rem, 30px);
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #4caf50;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.nav-links a:hover {
    background-color: #4caf50; 
    color: #F6FBF4;          
}

/* hero-section */
.hero {
    position: relative;
    height: 90vh;
    background: center/cover no-repeat url("images/planmanga.jpg");
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 600px;
    text-align: center;
}

.hero h1 {
    font-family: "Cal Sans", sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn-primary {
    background: #4caf50;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 0px 5px 1px #F6FBF4;
}

.btn-primary:hover{
    background: #255326;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #F6FBF4;
}

/* why us */
.why-us {
    padding: 80px 0;
    background: #F6FBF4;
    text-align: center;
}

.why-us h2 {
    margin-bottom: 20px;
}

.why-us-items {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.why-item {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    flex: 1;
}

/* products */
.products {
    padding: 80px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    background: #F6FBF4;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    flex: 1;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 20px;
}

.card p {
    margin: 0 20px 30px;
}

/* footer */
.footer {
    background: #1c3f34;
    color: #fff;
    padding: 50px 0 20px;
}

.footer-content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .nav-links {
        gap: 0px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .why-us-items,
    .cards,
    .footer-content {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .logo img {
    margin-right: 10px;
    }
    .nav-links a{
        font-size: 1rem;
    }
    .nav-links {
        gap: 0px;
    }
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .logo img {
    margin-right: 5px;
    }
    .nav-links a{
        font-size: .9rem;
    }
    .nav-links {
        gap: 0px;
    }
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .nav-links a{
        font-size: .7rem;
    }
}